@import '../../styles/variables';
@import '../../styles/functions';

.cardContent {
  font-size: 0.75rem;
  padding: toRem($default-spacing) !important;
  font-weight: 600;
  text-align: center;
  height: 100%;
}

.cardHeader {
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}
